@model GestionBiblioteca.ViewModel.LibroViewModel
@{
    ViewBag.Title = "Libro";
}

@using (Html.BeginForm())
{
    <label class="MensajeError">@Html.ValidationSummary(true)</label>


    <section id="formulario">
        <label style="align-items; margin: auto 350px;" class="titulo">Modificar Información Libros</label>
        <div style="margin-right:35px">
            <div>
                @Html.LabelFor(model => model.id, new { @class = "label" })
            </div>
            <div>
                @Html.TextBoxFor(model => model.id, new { @class = "cuadrotexto", @readonly = true })
            </div>
            <div class="MensajeError">
                @Html.ValidationMessageFor(model => model.id, null, new { @class = "control-label", @size = "80" })
            </div>
        </div>
        <br />
        <br />
        <table>
            <tr></tr>
            <tr>
                <td>
                    <div style="margin-right:35px">
                        <div>
                            @Html.LabelFor(model => model.Nombre, new { @class = "label" })
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "cuadrotexto" })
                        </div>
                        <div class="MensajeError">
                            @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "control-label", @size = "80" })
                        </div>
                    </div>
                </td>

                <td>
                    <div style="margin-right:35px">
                        <div>
                            @Html.LabelFor(model => model.FechaPublicacion, new { @class = "label" })
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.FechaPublicacion, "{0:d}", new { @class = "input-large, cuadrotexto", @size = "27" })

                        </div>
                        <div class="">
                            @Html.ValidationMessageFor(model => model.FechaPublicacion, null, new { @class = "control-label", @size = "80" })
                        </div>
                    </div>
                </td>
            </tr>

        </table>
    </section>
    <br />

    <button class="btn btn-primary" name="consulta" value="Regresar" type="submit">Regresar</button>
    <button class="btn btn-primary" name="consulta" value="Modificar" type="submit">Modificar</button>
}
@section Scripts {

    <script type="text/javascript">
        $('#FechaPublicacion').datepicker({
            format: 'dd/mm/yyyy'

        })

    </script>

}